.background {
    background-color: rgb(221, 221, 221);
    min-height: 100vh;
}
.card {
    background-color: rgb(255, 255, 255);
    margin: 8px;
    border-radius: 7px;
    height: 30vh;
}

.home {
    background-color: none;
    margin-top: 7px;
    margin-bottom: 7px;
}
.fs-22 {
    font-size: 22px;
}