<footer>

    <h2 class="central">Siga-me</h2>

    <div class="container siga-me">
        
        <div>
            <a href="https://linkedin.com/in/joosilva" target="_blank"><img class="img-contato"
                    src="" alt="LinkedIn de João Victor"></a>
            <a href="https://linkedin.com/in/joosilva" target="_blank">LinkedIn</a>
        </div>
        <div>
            <a href="https://github.com/joosilva" target="_blank"><img class="img-contato"
                    src="" alt="GitHub de João Victor"></a>
            <a href="https://github.com/joosilva" target="_blank">GitHub</a>
        </div>

    </div>

    <p class="central">
        Todos os direitos reservados a João Victor Mendes Silva &copy
    </p>

</footer>
